:root{
  --BlueChalk: #E2CFEA;
  --Amethyst: #A06CD5;
  --RoyalPurple: #6247AA;
  --White: #FFFFFF;
  --Black: #000000;
}
body{
  padding: 0;
  margin: 0;
  font-family: 'Urbanist';
}
.color-bg{
  background-color: var(--RoyalPurple);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.color-bg-dashboard{
  background-color: var(--RoyalPurple);
  width: 100%;
  height: 100vh;
  display: flex;
}
.admin-login-box-container{
  background-color: var(--BlueChalk);
  width: 80%;
  height: 80%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.admin-login-box-text{
  width: 326px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-login-box-text h1{
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
}
.admin-login-box-input{
  width: 658px;
  height: 295px;
  display: flex;
  flex-direction: column;
}
label{
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
}
input{
  width: 623px;
  height: 57px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}
.admin-login-box-button{
  width: 344px;
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links-box-button{
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links-box-button h1{
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
  cursor: pointer;
}
.links-box-button h1:hover{
  text-decoration: underline;
}

button{
  width: 295px;
  height: 84px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--White);
}
button:hover{
  background-color: var(--Amethyst);
  color: var(--White);
}
.left-link-container{
  background-color: var(--BlueChalk);
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.logo-box{
  width: 50%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}
.link-container{
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
h3{
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  cursor: pointer;
}
h3:hover{
  text-decoration: underline;
}

.right-main-container{
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-main-courses-container{
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-course-box-container{
  background-color: var(--BlueChalk);
  border-radius: 10px;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.input-box-course{
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.button-box-course{
  width: 40%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 10%;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 48px;
  color: white;
  text-decoration: underline;
}
.container-courses{
  width: 90%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}  
.class-component{
  margin-top: 2%;
  width: 40%;
  height: 50%;
  border-radius: 10px;
  background-color: var(--BlueChalk);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.class-component h1{
  padding: 5%;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
}
.class-btn{
  width: 60%;
  height: 20%;
}