@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Urbanist:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap');
:root{
  --BlueChalk: #E2CFEA;
  --Amethyst: #A06CD5;
  --RoyalPurple: #6247AA;
  --White: #FFFFFF;
  --Black: #000000;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Urbanist';
}

.form-bg{
  width: 100%;
  height: 100vh;
  background-color: var(--RoyalPurple);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-bg{
  width: 100%;
  height: 100vh;
  background-color: var(--RoyalPurple);
}
label{
  font-size: 20px;
  font-weight: 500;
}
input{
  width: 90%;
  height: 45px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
}

.btn-action{
  width: 35%;
  height: 60px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--White);
  color: var(--Black);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
}

.form-box-container{
  width: 90%;
  height: 90vh;
  background-color: var(--BlueChalk);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: flex;
}
.form-box-img{
  width: 50%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  background-image: url('../src/assests/header-register.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-box-input-container{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-box-content{
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
h1{
  font-size: 35px;
  font-weight: 800;
}
.link{
  font-size: 20px;
  color: var(--Black);
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 2% ;
}
.btn-container{
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav{
  width: 100%;
  height: 10%;
  background-color: var(--BlueChalk);
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-links-container{
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.nav-links-container h3{
  cursor: pointer;
}
.nav-btn-continer{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.course-component{
  background-color: var(--BlueChalk);
  width: 20%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin-top: 2%;
}
.course-component-text-box{
  width: 90%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.course-component-btn-box{
  width: 90%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.enroll-btn{
  width: 50%;
  height: 50%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size:1vw;
  font-weight: 600;
  background-color: var(--RoyalPurple);
  color: var(--White);
}
.enroll-btn:hover{
  background-color: var(--Amethyst);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
