.header-container-landing{
    width: 100%;
    height: 100vh;
    display: flex;
}
.header-img-landing{
    width: 100%;
    height: 100%;
    background-image: url('../../assests/header.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    opacity: .7;
}
.header-text{
    width: 70%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.header-text h1{
    font-size: 90px;
    text-align: center;
    color: white ;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.header-text p{
    font-size: 40px;
    text-align: center;
    color: white ;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.header-landing-button-container{
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.header-btn{
    width: 40%;
    height: 20%;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    color: white;
    background-color: var(--RoyalPurple);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.header-btn:hover{
    background-color: var(--Amethyst);
}